body{
    max-width: 90%;
    margin: 0 auto;
    background-image: url("../images/trivia-fondo.jpg");
    background-repeat: repeat;
}

img#top{
    width: 60%;
}

#titulo{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.top-text{
    font-family: Marker Felt;
    font-size: 10vw;
    font-weight: bolder;
    text-align: center;
    padding: 3vw;
}

#top{
    display: flex;
    justify-content: center;
}

.press{
    width: 33%;
    font-family: Marker Felt;
    font-size: 4vw;
    border: none;
    color:white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(108, 59, 243);
    opacity:1;;
    margin-bottom: 10%;
}

.press:hover{
    transform:scale(1.5);
    transition: ease-in-out .5s;
    background:rgb(92, 240, 190);
    opacity:.9;
}

#fondo{
    display: flex;
    justify-content: space-around;
    z-index: -1;
}

#fig-one { 
    z-index: -1;
    width:20%; 
    height:20%; 
    transform-origin:100% center; 
    animation:rotate 10s linear infinite; }
#fig-one:before { 
    content:''; 
    /* position:absolute;  */
    animation:rotate 5s linear normal infinite; 
}
@keyframes rotate { 75% { transform:rotate(360deg); } }

#fig-two { 
    margin-right: 10%;

    z-index: -1;
    width:20%; 
    height:20%; 
    transform-origin:100% center; 
    animation:rotate 6s linear infinite; }
#fig-two:before { 
    content:''; 
    /* position: absolute; */
    animation:rotate 5s linear reverse infinite; 
}
@keyframes rotate { 25% { transform:rotate(-360deg); } }

/* add hover to button to start an list*/

#timer{
    /* height:20%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2.5%; 
}

.pregunta{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    color: rgb(108, 59, 243);
    text-align: center;
    margin-bottom: 2%; 
}

.choice{
    width:50%;
    /* height: 20%; */
    display:block;
    border:none;
    font-size:3vw;
    font-weight: bold;
    color:whitesmoke;
    margin:0 auto;
    padding: 1%;
    margin-bottom:2.5%;
}
.choice{
    background-color:rgb(108, 59, 243);
    opacity: .85;
}

.choice:hover{
    opacity: 1;
    background:rgb(92, 240, 190);
}

#right-answer{
    font-family: Marker Felt;
    font-weight: bold;
    font-size: 4vw;
    color:blue;
    text-align: center;
}

#image #right{
    float: right;
    width: 35%;
    height: 35%;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 200px, 0); }
}
@-webkit-keyframes bounce {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}

#wrong-answer{
    font-family: Marker Felt;
    font-weight: bold;
    font-size: 4vw;
    color:red;
    text-align: center;
}

#image #wrong{
    float: left;
    width: 35%;
}

h4{
    font-size: 150%;
    color:rgb(108, 59, 243);
    padding: 2%;
    margin-bottom: 2.5%;
}

#results{
    font-family: Marker Felt;
    font-weight: bold;
    font-size: 2vw;
    color:blue;
    text-align: center;
    margin-bottom:2.5%;
}

.right-ones{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    color:rgb(108, 59, 243);
    text-align: center;
    margin-bottom: 2.5%;
}

.wrong-ones{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    color:red;
    text-align: center;
    margin-bottom: 2.5%;
}

.no-answer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    color:gray;
    text-align: center;
    margin-bottom: 2.5%;
}

a{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-decoration: none;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}