body{
    max-width: 960px;
    margin: 0 auto;
    background-color:#bbacf1;
}

#back-img{
    background-image: url("images/fondo1.png");
}

#titulo{
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

}

.top-text{
    font-family: Marker Felt;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}

#top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.press{
    opacity: .5;
    width: 300px;
    font-family: Marker Felt;
    font-size: 50px;
    border: none;
    color:white;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}

.press:hover{
    transform:scale(1.5);
    transition: ease-in-out .5s;
    background-color: rgb(108, 59, 243);
    opacity:1;
}

/* add hover to button to start an list*/

#timer{
    height:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bolder;
    text-align: center; 
}

.pregunta{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: rgb(108, 59, 243);
    display:flex;
    justify-content: center;
    margin-bottom: 40px; 
}

.choice{
    width:50%;
    height: 50px;
    display:block;
    border:none;
    font-size:150%;
    font-weight: bold;
    color:whitesmoke;
    margin:0 auto;
    padding:5px;
    margin-bottom:20px;
}
.choice{
    background-color:rgb(108, 59, 243);
    opacity: .75;
}

.choice:hover{
    opacity: 1;
    background:rgb(92, 240, 190);
}

#right-answer{
    font-family: Marker Felt;
    font-weight: bold;
    font-size: 60px;
    color:blue;
    text-align: center;
}

#image #right{
    float: right;
    width: 35%;
    height: 35%;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 200px, 0); }
}
@-webkit-keyframes bounce {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}

#wrong-answer{
    font-family: Marker Felt;
    font-weight: bold;
    font-size: 40px;
    color:red;
    text-align: center;
}

#image #wrong{
    float: left;
    width: 35%;
}

#results{
    font-family: Marker Felt;
    font-weight: bold;
    font-size: 30px;
    color:blue;
    text-align: center;
}

.right-ones{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:greenyellow;
    text-align: center;
}

.wrong-ones{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:red;
    text-align: center;
}

.no-answer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:blue;
    text-align: center;
}

a{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
}





